<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wefree.fynn.youtubemusic">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/FlatTheme">
        <receiver
            android:name="com.thenewguy.official.youtubemusic.DownloadCompleteReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.thenewguy.official.youtubemusic.SearchActivity"
            android:parentActivityName="com.thenewguy.official.youtubemusic.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FlatTheme">

        </activity>
        <activity
            android:name="com.thenewguy.official.youtubemusic.PlaylistActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FlatTheme">

        </activity>
        <activity
            android:name="com.thenewguy.official.youtubemusic.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/FlatTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>